@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
} */

/*@layer base {
  :root {
    --background: 270 56% 98%;
    --foreground: 270 52% 4%;
    --muted: 270 9% 85%;
    --muted-foreground: 270 11% 35%;
    --popover: 270 56% 98%;
    --popover-foreground: 270 52% 4%;
    --card: 270 56% 97%;
    --card-foreground: 270 52% 3%;
    --border: 270 9% 93%;
    --input: 270 9% 93%;
    --primary: 270 74% 19%;
    --primary-foreground: 270 74% 79%;
    --secondary: 270 7% 80%;
    --secondary-foreground: 270 7% 20%;
    --accent: 270 16% 71%;
    --accent-foreground: 270 16% 11%;
    --destructive: 5 89% 20%;
    --destructive-foreground: 5 89% 80%;
    --ring: 270 74% 19%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 28% 7%;
    --foreground: 47 7% 73%;
    --muted: 222 12% 15%;
    --muted-foreground: 222 12% 65%;
    --popover: 222 28% 4%;
    --popover-foreground: 47 7% 83%;
    --card: 222 28% 5%;
    --card-foreground: 47 7% 78%;
    --border: 222 18% 12%;
    --input: 222 18% 15%;
    --primary: 256 77% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 256 7% 18%;
    --secondary-foreground: 256 7% 78%;
    --accent: 256 15% 25%;
    --accent-foreground: 256 15% 85%;
    --destructive: 17 96% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 256 77% 69%;
  }
} */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 263.4 70% 50.4%;
  }
} */

@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 0 0% 83%;
    --muted: 0 12% 16%;
    --muted-foreground: 0 12% 66%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 93%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 88%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 87%;
    --destructive: 3 85% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 83%;
    --muted: 0 12% 16%;
    --muted-foreground: 0 12% 66%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 93%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 88%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 87%;
    --destructive: 3 85% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
